@charset "UTF-8";
@font-face {
  src: url(../fonts/PressStart2P-Regular.ttf);
  font-family: "Press Start 2P";
  font-weight: 400;
}
@font-face {
  src: url(../fonts/PixelifySans-Regular.ttf);
  font-family: "Pixelify Sans";
  font-weight: 400;
}
@font-face {
  src: url(../fonts/postnobillscolombo-regular.ttf);
  font-family: "colombo";
  font-weight: 400;
}
/*#################################*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 2px solid rgb(255, 0, 0);*/
}

a {
  text-decoration: none;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.star {
  position: absolute;
  z-index: -1;
}

/*#################################*/
.header {
  background: black;
}
.header__title {
  height: 110px;
  font-size: 50px;
  color: white;
  font-family: "Press Start 2P";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #95CBFD;
  padding-top: 105px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.main__test {
  display: none;
}
.main__blocks__title {
  width: 1000px;
  padding: 70px 30px;
  font-size: 75px;
  font-family: "Press Start 2P";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9F6EC5;
  border-radius: 60px;
  margin: 0 130px;
  color: #02FF2A;
  box-shadow: 20px 15px 6px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 150px;
  letter-spacing: 5px;
  word-spacing: -27px;
}
@media (max-width: 1000px) {
  .main__blocks__title {
    width: 600px;
    font-size: 55px;
  }
}
.main__blocks__subtitle {
  width: 850px;
  font-size: 60px;
  font-weight: 400;
  font-family: "Pixelify Sans";
  background: #9F6EC5;
  border-radius: 60px;
  color: #02FF2A;
  padding: 50px 30px 50px 40px;
  margin-bottom: 150px;
  margin-right: 30px;
  margin-left: auto;
}
@media (max-width: 1000px) {
  .main__blocks__subtitle {
    width: 600px;
    font-size: 45px;
  }
}
.main__blocks__speaker {
  margin-left: 30px;
  position: relative;
  margin-bottom: 95px;
}
.main__blocks__speaker__photo {
  box-shadow: -20px 15px 6px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  display: block;
  height: 375px;
  z-index: 2;
  border-radius: 180px;
  margin-top: 100px;
}
@media (max-width: 1000px) {
  .main__blocks__speaker__photo {
    height: 275px;
  }
}
.main__blocks__speaker__text {
  box-shadow: -20px 15px 6px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
  width: 850px;
  margin-left: 125px;
  background: #9F6EC5;
  border-radius: 60px;
  padding-top: 30px;
}
@media (max-width: 1000px) {
  .main__blocks__speaker__text {
    margin-left: 100px;
    width: 650px;
  }
}
.main__blocks__speaker__text__title {
  width: 600px;
  color: #F8FC3C;
  font-size: 55px;
  font-family: "Press Start 2P";
  background: #C191E6;
  border-radius: 60px;
  padding: 30px 0 30px 70px;
  margin-left: 185px;
}
@media (max-width: 1000px) {
  .main__blocks__speaker__text__title {
    width: 450px;
    margin-left: 125px;
    font-size: 60px;
  }
}
.main__blocks__speaker__text__subtitle {
  color: #02FF2A;
  font-size: 45px;
  font-family: "Pixelify Sans";
  padding: 0 18px 16px 242px;
}
@media (max-width: 1000px) {
  .main__blocks__speaker__text__subtitle {
    font-size: 50px;
    padding: 0 18px 16px 160px;
  }
}
.main__btn {
  background: #18EF7B;
  cursor: pointer;
  border-radius: 50px;
  border: 2px solid black;
  padding: 42px 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 535px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: "Pixelify Sans";
  font-weight: 400;
  color: #000000;
}
.main__btn:hover {
  color: #c7ec24;
}
.main__arrow {
  display: flex;
  justify-content: center;
}

.modal-screen__modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
.modal-screen__modal__dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-screen__modal__dialog {
    max-width: 1000px;
    margin: 0 auto;
    top: 15%;
  }
}
.modal-screen__modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #aaa5a5;
  background-clip: padding-box;
  border-radius: 41px;
  outline: 0;
}
@media (min-width: 768px) {
  .modal-screen__modal__content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.modal-screen__modal__header {
  display: flex;
  align-items: center;
  padding: 15px;
}
.modal-screen__modal__title {
  margin: 0 auto;
  font-size: 75px;
  font-weight: 400;
  background: #D9D9D9 center center/cover;
  padding: 25px 35px;
  border-radius: 40px;
  font-family: "Pixelify Sans";
  margin-bottom: 50px;
  margin-top: 30px;
}
.modal-screen__modal__close {
  position: absolute;
  left: 87%;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}
.modal-screen__modal__close:focus, .modal-screen__modal .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}
.modal-screen__modal__body {
  max-width: 950px;
  position: relative;
  overflow: auto;
  margin: 0 auto;
}
.modal-screen__modal__body__text {
  background: #D9D9D9 center center/cover;
  border-radius: 40px;
  padding: 20px 20px;
  font-size: 60px;
  font-weight: 400;
  font-family: "Pixelify Sans";
  margin-bottom: 50px;
}
.modal-screen__modal__body__form {
  display: flex;
  width: auto;
  gap: 50px;
}
.modal-screen__modal__body__form__input {
  display: block;
  width: 80%;
  height: 100px;
  font-family: "Pixelify Sans";
  font-size: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.modal-screen__modal__body__form__btn {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 90px;
  background: #02FF2A;
}
.modal-screen__modal__body__form__btn__center {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 25px solid transparent;
  border-left: 40px solid rgb(255, 255, 255);
}
.modal-screen__modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.about__title {
  font-size: 70px;
  font-family: "Press Start 2P";
  margin-bottom: 130px;
}
@media (max-width: 1000px) {
  .about__title {
    margin-bottom: 100px;
    margin-left: 50px;
    font-size: 50px;
  }
}
.about__text {
  position: relative;
  font-family: "Pixelify Sans";
  margin-bottom: 150px;
}
.about__text__arrow {
  position: absolute;
  top: 300px;
  left: 165px;
}
@media (max-width: 1000px) {
  .about__text__arrow {
    top: 385px;
    left: 130px;
  }
}
.about__text__title {
  margin-left: 200px;
  max-width: 857px;
  font-size: 60px;
}
.about__text__subtitle {
  display: flex;
  font-size: 50px;
  margin: 150px 0 150px 220px;
}
@media (max-width: 1000px) {
  .about__text__subtitle {
    font-size: 45px;
    margin: 150px 0 150px 160px;
  }
}
.about__arrow__end {
  display: flex;
  margin: 0 auto;
  margin-bottom: 350px;
}
.about__stars {
  position: relative;
}
.about__stars__star1 {
  top: -550px;
  left: 300px;
}
@media (max-width: 1000px) {
  .about__stars__star1 {
    left: 125px;
  }
}
.about__stars__star2 {
  top: -1700px;
  left: 650px;
}
.about__stars__star3 {
  top: -1000px;
  left: 300px;
}
.about__stars__star4 {
  top: -1325px;
  right: 20px;
}
.about__stars__star5 {
  top: -1325px;
  left: 400px;
}

.rewievs {
  background: #F9DAB6;
  padding-top: 40px;
  position: relative;
  z-index: -2;
}
.rewievs__container {
  position: relative;
}
.rewievs__flex {
  display: flex;
}
.rewievs__title {
  height: 205px;
  text-transform: uppercase;
  font-family: "Press Start 2P";
  font-size: 65px;
  background: #F8EEB7;
  border-radius: 90PX;
  padding: 50px 60px;
  margin-bottom: 75px;
}
@media (max-width: 1000px) {
  .rewievs__title {
    height: 180px;
    font-size: 50px;
    margin-left: 30px;
  }
}
.rewievs__blocks-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 160px;
}
.rewievs__blocks__block {
  padding: 5px 10px;
  background: #AB9999;
  border-radius: 100px;
  display: flex;
}
.rewievs__blocks__block__text {
  font-family: "Pixelify Sans";
}
.rewievs__blocks__block__text__title {
  font-size: 60px;
  width: 500px;
  color: #fff;
  line-height: 50px;
  margin-bottom: 20px;
}
.rewievs__blocks__block__text__subtitle {
  padding: 10px 25px;
  font-size: 55px;
  line-height: 45px;
  width: 460px;
  background: #D9D9D9;
  border-radius: 60px;
  margin-bottom: 15px;
}
.rewievs__arrow {
  display: flex;
  justify-content: end;
  margin-right: 40px;
  padding-bottom: 40px;
}
.rewievs__background__ball {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  border-right: 3px solid rgb(0, 0, 0);
}
.rewievs__background__star {
  position: absolute;
  z-index: -1;
  top: 450px;
  left: 150px;
}
@media (max-width: 1000px) {
  .rewievs__background__star {
    left: 0;
  }
}
.rewievs__background__polygon {
  position: absolute;
  z-index: -1;
  top: 450px;
  right: 0;
}
@media (max-width: 1000px) {
  .rewievs__background__polygon {
    top: 150px;
  }
}

.footer__container {
  position: relative;
  border: 2px solid #000;
  height: 246px;
  background: #D9D9D9;
}
.footer__logo {
  position: absolute;
  right: 0;
}
.footer__text {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 50px;
}
.footer__text__first__title {
  margin-bottom: 10px;
  font-family: "colombo";
  font-size: 50px;
}
@media (max-width: 1000px) {
  .footer__text__first__title {
    font-size: 35px;
  }
}
.footer__text__first__subtitle {
  font-family: "colombo";
  margin-bottom: 25px;
  font-size: 30px;
  width: 530px;
}
@media (max-width: 1000px) {
  .footer__text__first__subtitle {
    width: 350px;
    font-size: 30px;
  }
}
.footer__text__second__subtitle {
  color: #817C7C;
  font-family: "colombo";
  font-size: 30px;
}
@media (max-width: 1000px) {
  .footer__text__second__subtitle {
    font-size: 20px;
  }
}
.footer__text__second__contact {
  font-family: "colombo";
  font-size: 31px;
}
@media (max-width: 1000px) {
  .footer__text__second__contact {
    font-size: 21px;
  }
}
.footer__text__title {
  position: absolute;
  bottom: 0;
  left: 550px;
  color: #6F6A6A;
  font-size: 25px;
  font-family: "colombo";
}
@media (max-width: 1000px) {
  .footer__text__title {
    font-size: 20px;
    left: 300px;
  }
}